.mainContainer,
.roomList {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.mainContainer h1 {
  color: black;
  margin: 5% 0;
  font-size: 1.9rem;
  font-weight: 900;
}

.mainContainer h2 {
  margin: 0;
  font-size: medium;
  color: rgb(155, 155, 155);
  font-weight: 500;
}

.menu {
  position: absolute;
  left: 3%;
  top: 2%;
}

.separator {
  color: lightgrey;
}

.roomContainer,
.roomContainer li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 10px 0;
}

.roomContainer img {
  width: 70vw;
}

.roomContainer p {
  text-align: center;
  margin: 3%;
  color: rgb(155, 155, 155);
  font-weight: 500;
  font-size: 0.9rem;
}

.icons {
  display: flex;
  gap: 10px;
  margin: 5px 0;
  color: rgb(167, 167, 167);
}

.icons span {
  border: 1px solid rgb(194, 194, 194);
  border-radius: 20px;
  list-style: none;
  padding: 6px;
  display: flex;
  width: 16px;
  height: 16px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 3% 0;
  font-size: 1.3rem;
}

.separatorTop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mainContainer h1 {
    margin-top: 7%;
    margin-bottom: 1%;
  }

  .mainContainer h2 {
    margin-bottom: 3%;
  }

  .roomContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
  }

  .roomContainer img {
    width: 24vw;
  }

  .separatorTop {
    display: block;
    color: lightgrey;
  }
}
